Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@ahnupsingh 
Seriea-Technology
/
seriea-backend
Private
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
seriea-backend/.gitignore
@anupsinghavail
anupsinghavail CRUD Setup with auth
Latest commit d37da12 8 days ago
 History
 1 contributor
35 lines (30 sloc)  391 Bytes

# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have unread notifications
